.boton-sidebar {
  display: none;
  @media (max-width: 1200px) {
    display: flex !important;
    //position:absolute;
    //top:0;
    //left:0;
  }
}
.boton-navbar {
  display: none;
  @media (min-width: 1200px) {
    display: block !important;
    //position:absolute;
    //top:0;
    //left:0;
  }
}
