@if (spinner()){
<app-carga></app-carga>
}
<div class="p-4 card">
  <p-fieldset>
    <ng-template #header>
      <div
        class="flex items-center gap-4 px-4 py-3 bg-blue-50 rounded-t-lg border-b border-blue-200 shadow-sm"
      >
        <img
          src="assets/images/cottage-cheese.gif"
          alt="Icono Tipos de Servicio"
          class="w-12 h-12 rounded-full border border-blue-300 shadow"
        />
        <span class="font-semibold text-blue-700 text-xl tracking-wide">
          LISTADO DE TIPOS DE SERVICIO
        </span>
      </div>
    </ng-template>

    <p-table
      #dt
      [value]="listaTpoServicio()"
      dataKey="id_tipo"
      [rowHover]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [loading]="spinner()"
      [paginator]="true"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} tipos"
      [filterDelay]="0"
      [globalFilterFields]="['descripcion']"
      [tableStyle]="{ 'max-width': '100%' }"
    >
      <ng-template #caption>
        <div
          class="flex flex-col md:flex-row md:items-center md:justify-between gap-2"
        >
          <!-- Buscador -->
          <p-iconfield iconPosition="left" class="w-full md:w-auto">
            <p-inputicon>
              <i class="pi pi-search"></i>
            </p-inputicon>
            <input
              pInputText
              type="text"
              [(ngModel)]="searchValue"
              (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Buscar tipo..."
              class="w-full md:w-64"
            />
          </p-iconfield>

          <!-- Botón -->
          <p-button
            label="Nuevo Tipo"
            icon="pi pi-plus"
            class="w-full md:w-auto"
            severity="success"
            (click)="openTipoDialog()"
          />
        </div>
      </ng-template>

      <ng-template #header>
        <tr
          class="bg-blue-100 text-blue-900 text-sm font-semibold border-b border-blue-300 shadow-sm"
        >
          <th pSortableColumn="id_tipo" class="px-3 py-3">
            Código
            <p-sortIcon field="id_tipo" />
          </th>

          <th pSortableColumn="descripcion" class="px-3 py-3">
            Descripción
            <p-sortIcon field="descripcion" />
            <p-columnFilter
              type="text"
              field="descripcion"
              display="menu"
              class="ml-auto"
            />
          </th>

          <th class="px-3 py-3">Estado</th>
          <th class="px-3 py-3">Acción</th>
        </tr>
      </ng-template>

      <ng-template #body let-tipo>
        <tr class="p-selectable-row">
          <td>{{ tipo.id_tipo }}</td>
          <td>{{ tipo.descripcion }}</td>
          <td>
            <p-tag
              [value]="tipo.estareg === 1 ? 'Activo' : 'Inactivo'"
              [severity]="tipo.estareg === 1 ? 'success' : 'danger'"
            />
          </td>
          <td>
            <p-button
              icon="pi pi-pencil"
              class="mr-2"
              [rounded]="true"
              [outlined]="true"
              (click)="editTipo(tipo)"
            />
            <p-button
              *ngIf="tipo.estareg === 1"
              icon="pi pi-trash"
              severity="danger"
              [rounded]="true"
              [outlined]="true"
              (click)="deleteTipo(tipo)"
            />
            <p-button
              *ngIf="tipo.estareg === 0"
              icon="pi pi-check"
              severity="success"
              [rounded]="true"
              [outlined]="true"
              (click)="activarTipo(tipo)"
            />
          </td>
        </tr>
      </ng-template>

      <ng-template #emptymessage>
        <tr>
          <td colspan="4">No hay tipos de servicio registrados.</td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>
</div>
