@if (spinner()){
  <app-carga></app-carga>
}
<div
  class="p-4 sm:p-6 lg:p-8 bg-white rounded-xl shadow-lg border border-gray-200"
>
<!-- Header -->
<header class="space-y-2">
  <h1 class="text-2xl font-bold text-green-600">Agenda Técnica - Calendario de Instalaciones </h1>
<!--  <p class="text-gray-600 text-sm">-->
<!--    Registro, asignación y cierre de OTs para instalación de servicios.-->
<!--  </p>-->
  <hr class="border-gray-300" />
</header>

<!-- Filtros -->
<section class="space-y-2">
  <h2 class="text-lg font-semibold text-gray-700">Filtros</h2>
  <div class="flex flex-wrap gap-4 items-end">
    <div class="flex flex-col">
      <label class="text-sm font-medium text-gray-600 mb-1">Técnicos</label>
      <!--        <select-->
      <!--          [(ngModel)]="CortesfiltroEnvio().estado"-->
      <!--          class="p-inputtext p-component w-48 rounded-md shadow-sm"-->
      <!--        >-->
      <!--          @for (item of estados; track $index) {-->
      <!--            <option [value]="item.value">{{ item.label }}</option>-->
      <!--          }-->
      <!--        </select>-->
      <p-select [options]="Listadotecnicos()" [(ngModel)]="OrdenTrabajofiltroEnvio().idtecnico" optionValue="idtecnico"  class="w-full md:w-56" >
        <ng-template #selectedItem let-selectedOption>
          <div class="flex items-center gap-2">
            {{ selectedOption.nombres + ' ' + selectedOption.apellidos }}
          </div>
        </ng-template>
        <ng-template let-option #item>
          <div class="flex items-center gap-2">
            {{ option.nombres + ' ' + option.apellidos }}
          </div>
        </ng-template>
      </p-select>

    </div>
<!--    <div class="flex flex-col">-->
<!--      <label class="text-sm font-medium text-gray-600 mb-1">Estado</label>-->
<!--      <p-select [options]="estados" [(ngModel)]="OrdenTrabajofiltroEnvio().estado" optionLabel="name"-->
<!--                optionValue="value"  class="w-full md:w-56" (click)="cambioestadofiltro()">-->
<!--        <ng-template #selectedItem let-selectedOption>-->
<!--          <div class="flex items-center gap-2">-->
<!--            <p-tag [severity]="selectedOption.severity">{{ selectedOption.label }}</p-tag>-->
<!--          </div>-->
<!--        </ng-template>-->
<!--        <ng-template let-option #item>-->
<!--          <div class="flex items-center gap-2">-->
<!--            <p-tag [severity]="option.severity">{{ option.label }}</p-tag>-->
<!--          </div>-->
<!--        </ng-template>-->
<!--      </p-select>-->

<!--    </div>-->

    <div class="flex gap-2 mt-4">
      <button
        pButton
        label="Aplicar"
        class="p-button-sm p-button-primary"
        (click)="cargarfechas(OrdenTrabajofiltroEnvio().estado,OrdenTrabajofiltroEnvio().idtecnico);cargarresumen(OrdenTrabajofiltroEnvio().estado,OrdenTrabajofiltroEnvio().idtecnico)"
      ></button>
      <span class="px-3 py-1 rounded-full bg-gray-200 text-gray-700 text-sm">
          {{ listafechas.length }} registros
        </span>
    </div>
    <div class="flex flex-wrap gap-4">
      @for (estado of estados; track estado.label) {
        <div class="flex items-center gap-2">
          <p-radioButton [inputId]="estado.value"  [(ngModel)]="estadoSeleccionado" [value]="estado.value" (click)="cambioestado(estado)"/>
          <label [for]="estado.value"> <p-tag [severity]="estado.severity">{{ estado.label }}</p-tag></label>

        </div>
      }
    </div>
  </div>
</section>
<div class="grid md:grid-cols-4 sm:grid-cols-1 gap-4">
  <div class="col-span-3 mt-2">
    <full-calendar [options]="calendarOptions">
<!--      <ng-template #fcEventContent let-arg>-->
<!--        <i class="pi pi-clipboard" style="color: green"></i>-->
<!--        <p-button-->
<!--          [label]="arg.event.title"-->
<!--          [severity]="getSeverityButton(arg.event.title)">-->
<!--        </p-button>-->
<!--      </ng-template>-->
    </full-calendar>
  </div>
  <div class="col">
    <p-card header="Resumen">
      <p-table #dt [value]="Listadoresumentec()"  dataKey="tecnico" rowGroupMode="subheader"
               groupRowsBy="tecnico" [tableStyle]="{'min-width': '7rem'}"
               [globalFilterFields]="['tecnico']">
        <ng-template #caption>
          <div class="flex items-center justify-between">
            <p-iconfield>
              <p-inputicon class="pi pi-search" />
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
            </p-iconfield>
          </div>
        </ng-template>
        <ng-template #header>
          <tr>
            <th style="width:60%">Estado</th>
            <th style="width:40%">Cantidad</th>
          </tr>
        </ng-template>
        <ng-template #groupheader let-customer let-rowIndex="rowIndex" let-expanded="expanded">
          <tr>
            <td colspan="2">
              <button
                type="button"
                pButton
                pRipple
                [pRowToggler]="customer"
                text
                rounded
                plain
                class="mr-2"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
              </button>

              <!--              <p-overlayBadge [value]="calculateCustomerTotal(customer.tecnico).toString()" class="font-bold ml-2 text-gra">-->
              <!--                {{customer.tecnico}}-->
              <!--              </p-overlayBadge>-->
              <p-chip [label]="customer.tecnico" icon="pi pi-user" class="cursor-pointer" (click)="cargarfechas('ALL',customer.id_tecnico)">
                <p-badge
                  [value]="calculateCustomerTotal(customer.tecnico)"
                  severity="danger">
                </p-badge>
              </p-chip>
            </td>
          </tr>
        </ng-template>
        <!--        <ng-template #groupfooter let-customer>-->
        <!--          <tr class="p-rowgroup-footer">-->
        <!--            <td colspan="4" style="text-align: right">Total Ordenes</td>-->
        <!--            <td>{{calculateCustomerTotal(customer.tecnico)}}</td>-->
        <!--          </tr>-->
        <!--        </ng-template>-->
        <ng-template #expandedrow let-customer>
          <tr>
            <td>
              <p-tag [severity]="getSeverity(customer.estado)" [value]="customer.estado"></p-tag>
            </td>
            <td>
              <p-button icon="pi pi-bell" [rounded]="true" [severity]="getSeverity(customer.estado)"
                        [outlined]="true" [label]="customer.cantidad.toString()" (click)="cargarfechas(customer.estado,customer.id_tecnico)"
                        pTooltip="Ver fechas" tooltipPosition="left"/>
            </td>
            <td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
<!--    @for (item of this.Listadoresumentec();track item.id_tecnico){-->

<!--      <div class="card p-2">-->
<!--        <p-panel [toggleable]="true">-->
<!--          <ng-template #header>-->
<!--            <div class="flex items-center gap-2">-->
<!--              <i class="pi pi-user text-indigo-600 text-xl"></i>-->
<!--              <span class="font-bold italic text-gray-600">{{ item.tecnico }}</span>-->
<!--            </div>-->
<!--          </ng-template>-->
<!--          <ng-template #icons>-->

<!--            <p-button icon="pi pi-bell" [rounded]="true" [severity]="getSeverity(item.estado)"-->
<!--                      [outlined]="true" [label]="item.cantidad.toString()" (click)="cargarfechas(item.estado,item.id_tecnico)"-->
<!--                      pTooltip="Ver fechas" tooltipPosition="left"/>-->
<!--            &lt;!&ndash;          <p-menu #menu id="config_menu" [model]="items" [popup]="true" />&ndash;&gt;-->
<!--          </ng-template>-->
<!--          <div class="flex items-center justify-between">-->
<!--            <p-tag [severity]="getSeverity(item.estado)" [value]="item.estado"></p-tag>-->
<!--          </div>-->
<!--        </p-panel>-->
<!--    </div>-->
<!--    }-->
  </div>
</div>
</div>
<p-toast />
<p-confirmDialog #cd>
  <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
    <div class="flex flex-col items-center p-8 bg-surface-0 dark:bg-surface-900 rounded">
      <div
        class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center h-24 w-24 -mt-20"
      >
        <i class="pi pi-question !text-5xl"></i>
      </div>
      <span class="font-bold text-2xl block mb-2 mt-6">{{ message.header }}</span>
      <p class="mb-0">{{ message.message }}</p>
      <div class="flex items-center gap-2 mt-6">
        <p-button label="Save" (click)="onAccept()" styleClass="w-32"></p-button>
        <p-button label="Cancel" [outlined]="true" (onClick)="onReject()" styleClass="w-32"></p-button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>
