@if (spinner()){
  <app-carga></app-carga>
}
<p-toast></p-toast>
<div
  class="p-4 sm:p-6 lg:p-8 bg-white rounded-xl shadow-lg border border-gray-200"
>
  <!-- Header -->
  <header class="space-y-2">
    <h1 class="text-2xl font-bold text-green-600">Orden de Trabajo </h1>
    <p class="text-gray-600 text-sm">
      Registro, asignación y cierre de OTs para instalación de servicios.
    </p>
    <hr class="border-gray-300" />
  </header>

  <!-- Filtros -->
  <section class="space-y-2">
    <h2 class="text-lg font-semibold text-gray-700">Filtros</h2>
    <div class="flex flex-wrap gap-4 items-end">
      <div class="flex flex-col">
        <label class="text-sm font-medium text-gray-600 mb-1">Técnicos</label>
        <!--        <select-->
        <!--          [(ngModel)]="CortesfiltroEnvio().estado"-->
        <!--          class="p-inputtext p-component w-48 rounded-md shadow-sm"-->
        <!--        >-->
        <!--          @for (item of estados; track $index) {-->
        <!--            <option [value]="item.value">{{ item.label }}</option>-->
        <!--          }-->
        <!--        </select>-->
        <p-select [options]="Listadotecnicos()" [(ngModel)]="OrdenTrabajofiltroEnvio().idtecnico" optionValue="idtecnico"  class="w-full md:w-56">
          <ng-template #selectedItem let-selectedOption>
            <div class="flex items-center gap-2">
              {{ selectedOption.nombres + ' ' + selectedOption.apellidos }}
            </div>
          </ng-template>
          <ng-template let-option #item>
            <div class="flex items-center gap-2">
              {{ option.nombres + ' ' + option.apellidos }}
            </div>
          </ng-template>
        </p-select>

      </div>
      <div class="flex flex-col">
        <label class="text-sm font-medium text-gray-600 mb-1">Estado</label>
          <p-select [options]="estados" [(ngModel)]="OrdenTrabajofiltroEnvio().estado" optionLabel="name" optionValue="value"  class="w-full md:w-56">
            <ng-template #selectedItem let-selectedOption>
              <div class="flex items-center gap-2">
                <p-tag [severity]="selectedOption.severity">{{ selectedOption.label }}</p-tag>
              </div>
            </ng-template>
            <ng-template let-option #item>
              <div class="flex items-center gap-2">
                <p-tag [severity]="option.severity">{{ option.label }}</p-tag>
              </div>
            </ng-template>
          </p-select>

      </div>
      <div class="flex flex-col">
        <label class="text-sm font-medium text-gray-600 mb-1">Fecha Inicial</label>
        <p-datePicker [(ngModel)]="fechainicial" />

      </div>
      <div class="flex flex-col">
        <div class="flex flex-col">
          <label class="text-sm font-medium text-gray-600 mb-1">Fecha Final</label>
          <p-datePicker [(ngModel)]="fechafinal" />

        </div>
      </div>

      <div class="flex gap-2 mt-4">
        <button
          pButton
          label="Aplicar"
          class="p-button-sm p-button-primary"
          (click)="cargarordenestrabajo()"
        ></button>
        <button
          pButton
          label="Limpiar"
          class="p-button-sm p-button-secondary"
          (click)="limpiar_filtros()"
        ></button>
        <span class="px-3 py-1 rounded-full bg-gray-200 text-gray-700 text-sm">
          {{ Totalregistros }} registros
        </span>
      </div>
    </div>
  </section>

  <!-- Tabla -->
  <section>
    <p-table
      #dt2
      [value]="Listadoordenestrabajo()"
      [tableStyle]="{ 'max-width': '100%' }"
      ngClass="p-datatable-striped p-datatable-sm"
      [globalFilterFields]="['nombre_completo', 'servicio', 'direccion', 'estado','tecnico']"
      [scrollable]="true" scrollHeight="400px"
    >
      <ng-template #caption>
        <div class="flex items-center justify-between">
          <h2 class="text-lg font-semibold text-gray-700 mb-4">
            Lista de Órdenes de Trabajo
            <p-iconfield iconPosition="left" class="ml-auto">
              <p-inputicon>
                <i class="pi pi-search"></i>
              </p-inputicon>
              <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Cliente / Servicio / Dirección" />
            </p-iconfield>
          </h2>
          <p-button icon="pi pi-plus" rounded raised label="Nueva OT" class="p-button-sm" (click)="abrirnuevaot=true;op=1" />
        </div>
      </ng-template>
      <ng-template #header>
        <tr>
          <th>ID OT</th>
          <th>Cliente</th>
          <th>Servicio</th>
          <th>Dirección</th>
          <th>Tipo</th>
          <th>Fecha Agendada</th>
          <th>Técnico</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template #body let-row>
        <tr class="hover:bg-gray-50">
          <td>
            {{ row.idordentrabajo }}
          </td>
          <td>
            {{ row.nombre_completo }}
          </td>
          <td>
            {{ row.servicio }}
          </td>
          <td>{{ row.direccion }}</td>
          <td>{{ row.tipo }}</td>
          <td >{{ row.fechaorden }}</td>
          <td >{{ row.tecnico }}</td>
          <td><p-tag [severity]="getSeverity(row)" [value]="row.estado"></p-tag></td>
          <td class="space-x-1">
            <p-button icon="pi pi-user-edit" [rounded]="true" [outlined]="true"
                      pTooltip="Asignar técnico" tooltipPosition="left" severity="warn"
                      (click)="asignartecnico(row)"/>

            @if(row.estado!='COMPLETADO' && row.estado!='CANCELADO'){
              <p-button icon="pi pi-cog" [rounded]="true" [outlined]="true"
                        pTooltip="Reprogramar OT" tooltipPosition="left" severity="info"
                        (click)="reprogramar(row)"/>
              <p-button icon="pi pi-sign-out" [rounded]="true" [outlined]="true"
                        pTooltip="Cerrar OT" tooltipPosition="left" severity="danger"
                        (click)="cerrarot(row)"/>

            }
            <p-button icon="pi pi-calendar" [rounded]="true" [outlined]="true"
                      pTooltip="Historial OT" tooltipPosition="left" severity="info"
                      (click)="historialot(row)"/>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</div>

<!-- MODAL: Programar corte -->
@if (abrirnuevaot){
  <p-dialog
    header="Orden de Trabajo"
    [(visible)]="abrirnuevaot"
    [modal]="true"
    [style]="{ width: '60vw' }"
    [breakpoints]="{ '960px': '95vw' }"
    [baseZIndex]="10000"
  >
    <ng-template pTemplate="header">
      <div class="flex items-center gap-3">
        <div
          class="flex h-10 w-10 items-center justify-center rounded-full bg-primary/10"
        >
          <i class="pi pi-plus text-primary text-xl"></i>
        </div>
        <h2 class="text-xl font-semibold text-gray-800">Orden de Trabajo</h2>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="grid md:grid-cols-3 sm:grid-cols-2 gap-4">

        <div>
          <label
            class="block text-sm font-medium text-gray-700 mb-1"
          >
            Cliente <i class="pi pi-info-circle" style="color: red;font-size: 0.7rem"></i></label
          >
          <p-autoComplete [(ngModel)]="nombrecliente" [forceSelection]="true" [dropdown]="true" appendTo="body" class="w-full"

                          [suggestions]="clientes" (completeMethod)="search($event)" (ngModelChange)="cambionombre()"
                          optionLabel="nombreapellido"

                          [invalid]="formErrors.nombre_completo() && !nombrecliente">
            <ng-template let-item #item>
              <div class="flex items-center gap-2">
                <div >{{ item.nombreapellido }}</div>
              </div>
            </ng-template>
          </p-autoComplete>
          @if(formErrors.nombre_completo() && !enviarOrdenTrabajo().nombre_completo){
          <small class="text-red-600">Ingrese la selección del cliente</small>
          }
        </div>
        <div>
          <label
            class="block text-sm font-medium text-gray-700 mb-1"
          >
            Servicio
          </label>
          <input
            pInputText
            [(ngModel)]="enviarOrdenTrabajo().servicio"
            placeholder="Ej: FTTH 100Mbs (Residencial)"
            class="w-full p-inputtext p-component rounded-md shadow-sm"
          />
        </div>
        <div>
          <label
            class="block text-sm font-medium text-gray-700 mb-1"
          >
            Dirección <i class="pi pi-info-circle" style="color: red;font-size: 0.7rem"></i>
          </label>
          <input
            pInputText
            [(ngModel)]="enviarOrdenTrabajo().direccion"
            placeholder="Calle / Av / N°"
            class="w-full p-inputtext p-component rounded-md shadow-sm"
            [invalid]="formErrors.direccion() && !enviarOrdenTrabajo().direccion"
          />

          @if(formErrors.direccion() && !enviarOrdenTrabajo().direccion){
            <small class="text-red-600">Debe ingrear una reucióno una referncia</small>
          }
        </div>
        <div>
          <label
            class="block text-sm font-medium text-gray-700 mb-1"
          >
            Tipo de servicio
          </label>

          <p-select
            [options]="listadoTiposervicio()"
            [(ngModel)]="enviarOrdenTrabajo().id_tipo"
            optionLabel="descripcion"
            optionValue="id_tipo"
            placeholder="Seleccione tipo"
            class="w-full"
            appendTo="body"
          />
        </div>
        <div>
          <label
            class="block text-sm font-medium text-gray-700 mb-1"
          >
            Fecha Agendada <i class="pi pi-info-circle" style="color: red;font-size: 0.7rem"></i>
          </label>

          <p-datePicker
            [(ngModel)]="enviarOrdenTrabajo().fechaorden"
            dateFormat="dd/mm/yy"
            [showIcon]="true"
            inputId="buttondisplay"
            appendTo="body"
            class="w-full !h-[42px] rounded-xl"
            [invalid]="formErrors.fechaorden() && !enviarOrdenTrabajo().fechaorden"
          ></p-datePicker>
          @if(formErrors.fechaorden() && !enviarOrdenTrabajo().fechaorden){
            <small class="text-red-600">Debe ingresar la fecha de orden</small>
          }
        </div>
        <div>
          <label
            class="block text-sm font-medium text-gray-700 mb-1"
          >
            Técnico Designado
          </label>

          <p-select [options]="Listadotecnicos()" [(ngModel)]="enviarOrdenTrabajo().id_tecnico" optionValue="idtecnico"  appendTo="body" class="w-full md:w-56">
            <ng-template #selectedItem let-selectedOption>
              <div class="flex items-center gap-2">
                {{ selectedOption.nombres + ' ' + selectedOption.apellidos }}
              </div>
            </ng-template>
            <ng-template let-option #item>
              <div class="flex items-center gap-2">
                {{ option.nombres + ' ' + option.apellidos }}
              </div>
            </ng-template>
          </p-select>

        </div>


      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <div class="flex justify-end gap-2 mt-4">
        <button
          pButton
          label="Guardar"
          (click)="guardarorden()"
          class="p-button-sm p-button-success"
        ></button>
        <button
          pButton
          label="Cancelar"
          (click)="abrirnuevaot=false"
          class="p-button-sm p-button-secondary"
        ></button>
      </div>
    </ng-template>
  </p-dialog>

}
@if (abrirasignar){
  <p-dialog
    header="Asignar Técnico"
    [(visible)]="abrirasignar"
    [modal]="true"
    [style]="{ width: '40vw' }"
    [breakpoints]="{ '960px': '85vw' }"
    [baseZIndex]="10000"
  >
    <ng-template pTemplate="header">
      <div class="flex items-center gap-3">
        <div
          class="flex h-10 w-10 items-center justify-center rounded-full bg-yellow-50"
        >
          <i class="pi pi-user-edit text-yellow-600 text-xl"></i>
        </div>
        <h2 class="text-xl font-semibold text-gray-800">Asignar Técnico</h2>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <p class="text-yellow-600 bg-yellow-50 p-3">{{enviarOrdenTrabajo().idordentrabajo+'-'+enviarOrdenTrabajo().nombre_completo+'-'+enviarOrdenTrabajo().servicio+'-'+enviarOrdenTrabajo().fechaorden}}</p>
      <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-4">

        <div>
          <label
            class="block text-sm font-medium text-gray-700 mb-1"
          >
            Técnico Designado
          </label>
          <p-select [options]="Listadotecnicos()" [(ngModel)]="enviarOrdenTrabajo().id_tecnico" optionValue="idtecnico"  appendTo="body" class="w-full">
            <ng-template #selectedItem let-selectedOption>
              <div class="flex items-center gap-2">
                {{ selectedOption.nombres + ' ' + selectedOption.apellidos }}
              </div>
            </ng-template>
            <ng-template let-option #item>
              <div class="flex items-center gap-2">
                {{ option.nombres + ' ' + option.apellidos }}
              </div>
            </ng-template>
          </p-select>

        </div>

        <div>
          <label
            class="block text-sm font-medium text-gray-700 mb-1"
          >
            Observación
          </label>
          <input
            pInputText
            [(ngModel)]="enviarOrdenTrabajo().motivo"
            placeholder="Ej: Zona de difícil acceso"
            class="w-full p-inputtext p-component rounded-md shadow-sm"
          />
        </div>
        <div>
          <label
            class="block text-sm font-medium text-gray-700 mb-1"
          >
            Marcar en Proceso
          </label>
          <p-checkbox [(ngModel)]="checked" [binary]="true" (ngModelChange)="cambioproceso()" />
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <div class="flex justify-end gap-2 mt-4">
        <button
          pButton
          label="Guardar"
          (click)="actualizarorden();op=2"
          class="p-button-sm p-button-success"
        ></button>
        <button
          pButton
          label="Cancelar"
          (click)="abrirasignar=false"
          class="p-button-sm p-button-secondary"
        ></button>
      </div>
    </ng-template>
  </p-dialog>

}
@if (abrirreprogramar){
  <p-dialog
    header="Reprogramar OT"
    [(visible)]="abrirreprogramar"
    [modal]="true"
    [style]="{ width: '40vw' }"
    [breakpoints]="{ '960px': '85vw' }"
    [baseZIndex]="10000"
  >

    <ng-template pTemplate="header">
      <div class="flex items-center gap-3">
        <div
          class="flex h-10 w-10 items-center justify-center rounded-full bg-indigo-50"
        >
          <i class="pi pi-cog text-indigo-600 text-xl"></i>
        </div>
        <h2 class="text-xl font-semibold text-gray-800">Reprogramar OT</h2>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <p class="text-indigo-600 bg-indigo-100 p-3">{{enviarOrdenTrabajo().idordentrabajo+'-'+enviarOrdenTrabajo().nombre_completo+'-'+enviarOrdenTrabajo().servicio+'-'+enviarOrdenTrabajo().fechaorden}}</p>
      <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-4">

        <div>
          <label
            class="block text-sm font-medium text-gray-700 mb-1"
          >
            Fecha Nueva
          </label>
<!--          <p-datePicker-->
<!--            [(ngModel)]="enviarOrdenTrabajo().fechaorden"-->
<!--            dateFormat="dd/mm/yy"-->
<!--            [showIcon]="true"-->
<!--            inputId="buttondisplay"-->
<!--            appendTo="body"-->
<!--            class="w-full !h-[42px] rounded-xl"-->
<!--          ></p-datePicker>-->
          <input pInputText [(ngModel)]="enviarOrdenTrabajo().fechaorden" type="datetime-local"
                 class="w-full rounded-xl"/>
        </div>

        <div>
          <label
            class="block text-sm font-medium text-gray-700 mb-1"
          >
            Observación
          </label>
          <input
            pInputText
            [(ngModel)]="enviarOrdenTrabajo().motivo"
            placeholder="Ej: Zona de difícil acceso"
            class="w-full p-inputtext p-component rounded-md shadow-sm"
          />
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <div class="flex justify-end gap-2 mt-4">
        <button
          pButton
          label="Guardar"
          (click)="actualizarorden();op=2"
          class="p-button-sm p-button-success"
        ></button>
        <button
          pButton
          label="Cancelar"
          (click)="abrirreprogramar=false"
          class="p-button-sm p-button-secondary"
        ></button>
      </div>
    </ng-template>
  </p-dialog>

}
@if (abrircierre){
  <p-dialog
    header="Cerrar OT"
    [(visible)]="abrircierre"
    [modal]="true"
    [style]="{ width: '40vw' }"
    [breakpoints]="{ '960px': '85vw' }"
    [baseZIndex]="10000"
  >

    <ng-template pTemplate="header">
      <div class="flex items-center gap-3">
        <div
          class="flex h-10 w-10 items-center justify-center rounded-full bg-red-50"
        >
          <i class="pi pi-sign-out text-red-600 text-xl"></i>
        </div>
        <h2 class="text-xl font-semibold text-gray-800">Cerrar OT</h2>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <p class="text-red-600 bg-red-100 p-3">{{enviarOrdenTrabajo().idordentrabajo+'-'+enviarOrdenTrabajo().nombre_completo+'-'+enviarOrdenTrabajo().servicio+'-'+enviarOrdenTrabajo().fechaorden}}</p>
      <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-4">

        <div>
          <label
            class="block text-sm font-medium text-gray-700 mb-1"
          >
            Estado Final
          </label>
          <p-select [options]="estadoscierre" [(ngModel)]="enviarOrdenTrabajo().estado" optionLabel="name"
                    optionValue="value"  class="w-full" appendTo="body">
            <ng-template #selectedItem let-selectedOption>
              <div class="flex items-center gap-2">
                <p-tag [severity]="selectedOption.severity">{{ selectedOption.label }}</p-tag>
              </div>
            </ng-template>
            <ng-template let-option #item>
              <div class="flex items-center gap-2">
                <p-tag [severity]="option.severity">{{ option.label }}</p-tag>
              </div>
            </ng-template>
          </p-select>

        </div>

        <div>
          <label
            class="block text-sm font-medium text-gray-700 mb-1"
          >
            Observación
          </label>
          <input
            pInputText
            [(ngModel)]="enviarOrdenTrabajo().motivo"
            placeholder="Ej: Zona de difícil acceso"
            class="w-full p-inputtext p-component rounded-md shadow-sm"
          />
        </div>
        <div class="md:col-span-2">
          <label
            for="adjunto_boleta"
            class="block text-sm font-medium text-gray-700"
          >Evidencia (Imagen/pdf)</label
          >
          <input
            type="file"
            id="adjunto_boleta"
            (change)="onFileSelected($event)"
            class="mt-1 block w-full text-sm text-gray-500 border border-gray-200 rounded-xl shadow-sm file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:bg-primary file:text-white hover:file:bg-primary-dark cursor-pointer"
          />
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <div class="flex justify-end gap-2 mt-4">
        <button
          pButton
          label="Guardar"
          (click)="actualizarorden();op=2"
          class="p-button-sm p-button-success"
        ></button>
        <button
          pButton
          label="Cancelar"
          (click)="abrircierre=false"
          class="p-button-sm p-button-secondary"
        ></button>
      </div>
    </ng-template>
  </p-dialog>

}
@if (abrirhistorial){
  <p-dialog
    header="Cerrar OT"
    [(visible)]="abrirhistorial"
    [modal]="true"
    [style]="{ width: '60vw' }"
    [breakpoints]="{ '960px': '85vw' }"
    [baseZIndex]="10000"
  >

    <ng-template pTemplate="header">
      <div class="flex items-center gap-3">
        <div
          class="flex h-10 w-10 items-center justify-center rounded-full bg-indigo-50"
        >
          <i class="pi pi-calendar text-indigo-600 text-xl"></i>
        </div>
        <h2 class="text-xl font-semibold text-gray-800">Historial de OT - {{this.enviarOrdenTrabajo().idordentrabajo}}</h2>
      </div>
    </ng-template>

    <ng-template pTemplate="content">
      <p-table [value]="listaHistorialOT()"
               [scrollable]="true" scrollHeight="400px">
        <ng-template pTemplate="header">
          <tr class="bg-gray-100 text-gray-600 uppercase tracking-wider ">
            <th class="back-head">Fecha</th>
            <th class="back-head">FechaOT</th>
            <th class="back-head">Descripción</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>{{ item.fechareg | date : "dd/MM/yyyy hh:mm:ss" }}</td>
            <td>{{ item.fechaorden | date : "dd/MM/yyyy hh:mm:ss" }}</td>
            <td class="font-bold text-current">{{ item.observacion }}</td>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>

    <ng-template pTemplate="footer">
      <div class="flex justify-end gap-2 mt-4">
        <button
          pButton
          label="Cancelar"
          (click)="abrirhistorial=false"
          class="p-button-sm p-button-secondary"
        ></button>
      </div>
    </ng-template>
  </p-dialog>

}
