@if (spinner()){
  <app-carga></app-carga>
}
<p-toast></p-toast>
<div
  class="p-4 sm:p-6 lg:p-8 bg-white rounded-xl shadow-lg border border-gray-200"
>
  <!-- Header -->
  <header class="space-y-2">
    <h1 class="text-2xl font-bold text-green-600">Orden de Trabajo</h1>
    <p class="text-gray-600 text-sm">
      Registro, asignación y cierre de OTs para instalación de servicios.
    </p>
    <hr class="border-gray-300" />
  </header>

  <!-- Filtros -->
  <section class="space-y-2">
    <h2 class="text-lg font-semibold text-gray-700">Filtros</h2>
    <div class="flex flex-wrap gap-4 items-end">
      <div class="flex flex-col">
        <label class="text-sm font-medium text-gray-600 mb-1">Técnicos</label>
        <!--        <select-->
        <!--          [(ngModel)]="CortesfiltroEnvio().estado"-->
        <!--          class="p-inputtext p-component w-48 rounded-md shadow-sm"-->
        <!--        >-->
        <!--          @for (item of estados; track $index) {-->
        <!--            <option [value]="item.value">{{ item.label }}</option>-->
        <!--          }-->
        <!--        </select>-->
        <p-select [options]="Listadotecnicos()" [(ngModel)]="OrdenTrabajofiltroEnvio().idtecnico" optionValue="idtecnico"  class="w-full md:w-56">
          <ng-template #selectedItem let-selectedOption>
            <div class="flex items-center gap-2">
              {{ selectedOption.nombres + ' ' + selectedOption.apellidos }}
            </div>
          </ng-template>
          <ng-template let-option #item>
            <div class="flex items-center gap-2">
              {{ option.nombres + ' ' + option.apellidos }}
            </div>
          </ng-template>
        </p-select>

      </div>
      <div class="flex flex-col">
        <label class="text-sm font-medium text-gray-600 mb-1">Estado</label>
          <p-select [options]="estados" [(ngModel)]="OrdenTrabajofiltroEnvio().estado" optionLabel="name" optionValue="value"  class="w-full md:w-56">
            <ng-template #selectedItem let-selectedOption>
              <div class="flex items-center gap-2">
                <p-tag [severity]="selectedOption.severity">{{ selectedOption.label }}</p-tag>
              </div>
            </ng-template>
            <ng-template let-option #item>
              <div class="flex items-center gap-2">
                <p-tag [severity]="option.severity">{{ option.label }}</p-tag>
              </div>
            </ng-template>
          </p-select>

      </div>
      <div class="flex flex-col">
        <label class="text-sm font-medium text-gray-600 mb-1">Fecha Inicial</label>
        <p-datePicker [(ngModel)]="fechainicial" />

      </div>
      <div class="flex flex-col">
        <div class="flex flex-col">
          <label class="text-sm font-medium text-gray-600 mb-1">Fecha Final</label>
          <p-datePicker [(ngModel)]="fechafinal" />

        </div>
      </div>

      <div class="flex gap-2 mt-4">
        <button
          pButton
          label="Aplicar"
          class="p-button-sm p-button-primary"
          (click)="cargarordenestrabajo()"
        ></button>
        <button
          pButton
          label="Limpiar"
          class="p-button-sm p-button-secondary"
          (click)="limpiar_filtros()"
        ></button>
        <span class="px-3 py-1 rounded-full bg-gray-200 text-gray-700 text-sm">
          {{ Totalregistros }} registros
        </span>
      </div>
    </div>
  </section>

  <!-- Tabla -->
  <section>
    <h2 class="text-lg font-semibold text-gray-700 mb-4">
      Lista de Órdenes de Trabajo
    </h2>
    <p-table
      [value]="Listadoordenestrabajo()"
      [tableStyle]="{ 'max-width': '100%' }"
      ngClass="p-datatable-striped p-datatable-sm"
    >
      <ng-template #header>
        <tr>
          <th>ID OT</th>
          <th>Cliente</th>
          <th>Servicio</th>
          <th>Dirección</th>
          <th>Tipo</th>
          <th>Fecha Agendada</th>
          <th>Técnico</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template #body let-row>
        <tr class="hover:bg-gray-50">
          <td>
            {{ row.idordentrabajo }}
          </td>
          <td>
            {{ row.nombre_completo }}
          </td>
          <td>
            {{ row.servicio }}
          </td>
          <td>{{ row.direccion }}</td>
          <td>{{ row.tipo }}</td>
          <td >{{ row.fechaorden }}</td>
          <td>{{ row.estado }}</td>
          <td class="space-x-1">
            <button
              pButton
              icon="pi pi-whatsapp"
              class="p-button-sm"
              (click)="accionWhatsapp(row)"
            ></button>
            <button
              pButton
              icon="pi pi-envelope"
              class="p-button-sm"
              (click)="accionEmail(row)"
            ></button>
            <button
              pButton
              icon="pi pi-phone"
              class="p-button-sm"
              (click)="accionLlamada(row)"
            ></button>
          </td>
          <td class="space-x-1">
            <button
              pButton
              label="Programar"
              class="p-button-sm"
              (click)="abrirProgramar(row)"
              [disabled]="row.estado === 'cortado'"
            ></button>
            <button
              pButton
              label="Cortar ahora"
              class="p-button-sm p-button-danger"
              (click)="abrirCortar(row)"
              [disabled]="row.estado === 'cortado'"
            ></button>
          </td>
          <td>
            <button
              pButton
              label="Ver bitácora"
              class="p-button-sm"
              (click)="abrirBitacora(row)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</div>

<!--&lt;!&ndash; MODAL: Programar corte &ndash;&gt;-->
<!--<p-dialog-->
<!--  header="Programar corte"-->
<!--  [(visible)]="showModalProgramar"-->
<!--  [modal]="true"-->
<!--  [style]="{ width: '30rem' }"-->
<!--  [breakpoints]="{ '960px': '95vw' }"-->
<!--  [contentStyle]="{ padding: '1.5rem' }"-->
<!--  [baseZIndex]="10000"-->
<!--&gt;-->
<!--  <ng-template pTemplate="content">-->
<!--    <div class="space-y-4">-->
<!--      <div>-->
<!--        <label-->
<!--          for="progFecha"-->
<!--          class="block text-sm font-medium text-gray-700 mb-1"-->
<!--        >-->
<!--          Fecha y Hora-->
<!--        </label>-->
<!--        <input-->
<!--          type="datetime-local"-->
<!--          [(ngModel)]="CorteModel().fecha_corte"-->
<!--          pInputText-->
<!--          class="w-full p-inputtext p-component rounded-md shadow-sm"-->
<!--        />-->
<!--      </div>-->
<!--      <div>-->
<!--        <label-->
<!--          for="progTipo"-->
<!--          class="block text-sm font-medium text-gray-700 mb-1"-->
<!--        >-->
<!--          Tipo de corte-->
<!--        </label>-->

<!--        <p-select-->
<!--          [options]="tipoCorteOptions"-->
<!--          [(ngModel)]="CorteModel().tipo_corte"-->
<!--          optionLabel="label"-->
<!--          optionValue="value"-->
<!--          placeholder="Seleccione método"-->
<!--          class="w-full"-->
<!--          appendTo="body"-->
<!--        />-->
<!--      </div>-->

<!--      <div>-->
<!--        <label-->
<!--          for="progResp"-->
<!--          class="block text-sm font-medium text-gray-700 mb-1"-->
<!--        >-->
<!--          Responsable-->
<!--        </label>-->
<!--        <input-->
<!--          type="text"-->
<!--          [(ngModel)]="CorteModel().responsable_corte"-->
<!--          pInputText-->
<!--          placeholder="Técnico / Área"-->
<!--          class="w-full p-inputtext p-component rounded-md shadow-sm"-->
<!--        />-->
<!--      </div>-->

<!--      <div>-->
<!--        <label-->
<!--          for="progMotivo"-->
<!--          class="block text-sm font-medium text-gray-700 mb-1"-->
<!--        >-->
<!--          Motivo de programación-->
<!--        </label>-->
<!--        <input-->
<!--          type="text"-->
<!--          [(ngModel)]="CorteModel().observaciones"-->
<!--          pInputText-->
<!--          placeholder="Motivo de programación"-->
<!--          class="w-full p-inputtext p-component rounded-md shadow-sm"-->
<!--        />-->
<!--      </div>-->
<!--    </div>-->
<!--  </ng-template>-->

<!--  <ng-template pTemplate="footer">-->
<!--    <div class="flex justify-end gap-2 mt-4">-->
<!--      <button-->
<!--        pButton-->
<!--        label="Guardar"-->
<!--        (click)="guardarProgramar()"-->
<!--        class="p-button-sm p-button-success"-->
<!--      ></button>-->
<!--      <button-->
<!--        pButton-->
<!--        label="Cancelar"-->
<!--        (click)="closeModalProgramar()"-->
<!--        class="p-button-sm p-button-secondary"-->
<!--      ></button>-->
<!--    </div>-->
<!--  </ng-template>-->
<!--</p-dialog>-->

<!--&lt;!&ndash; MODAL: Cortar ahora &ndash;&gt;-->
<!--<p-dialog-->
<!--  header="Cortar ahora"-->
<!--  [(visible)]="showModalCortar"-->
<!--  [modal]="true"-->
<!--  [style]="{ width: '30rem' }"-->
<!--  [breakpoints]="{ '960px': '95vw' }"-->
<!--  [contentStyle]="{ padding: '1.5rem' }"-->
<!--  [baseZIndex]="10000"-->
<!--&gt;-->
<!--  <ng-template pTemplate="content">-->
<!--    <div class="space-y-4">-->
<!--      &lt;!&ndash; Método &ndash;&gt;-->
<!--      <div>-->
<!--        <label-->
<!--          for="cutMetodo"-->
<!--          class="block text-sm font-medium text-gray-700 mb-1"-->
<!--        >-->
<!--          Tipo de corte-->
<!--        </label>-->
<!--        <p-select-->
<!--          [options]="tipoCorteOptions"-->
<!--          [(ngModel)]="CorteModel().tipo_corte"-->
<!--          optionLabel="label"-->
<!--          optionValue="value"-->
<!--          placeholder="Seleccione método"-->
<!--          class="w-full"-->
<!--          appendTo="body"-->
<!--        />-->
<!--      </div>-->

<!--      &lt;!&ndash; Evidencia &ndash;&gt;-->
<!--      <div>-->
<!--        <label-->
<!--          for="cutEvidencia"-->
<!--          class="block text-sm font-medium text-gray-700 mb-1"-->
<!--        >-->
<!--          Evidencia-->
<!--        </label>-->
<!--        <input-->
<!--          type="file"-->
<!--          (change)="onFileChange()"-->
<!--          pInputText-->
<!--          class="w-full p-inputtext p-component rounded-md shadow-sm"-->
<!--        />-->
<!--      </div>-->

<!--      &lt;!&ndash; Notas &ndash;&gt;-->
<!--      <div>-->
<!--        <label-->
<!--          for="motivo_corte"-->
<!--          class="block text-sm font-medium text-gray-700 mb-1"-->
<!--        >-->
<!--          Motivo-->
<!--        </label>-->
<!--        <input-->
<!--          type="text"-->
<!--          [(ngModel)]="CorteModel().motivo_corte"-->
<!--          pInputText-->
<!--          placeholder="Opcional"-->
<!--          class="w-full p-inputtext p-component rounded-md shadow-sm"-->
<!--        />-->
<!--      </div>-->
<!--    </div>-->
<!--  </ng-template>-->

<!--  <ng-template pTemplate="footer">-->
<!--    <div class="flex justify-end gap-2 mt-4">-->
<!--      <button-->
<!--        pButton-->
<!--        label="Confirmar corte"-->
<!--        (click)="guardarCorte()"-->
<!--        class="p-button-sm p-button-danger"-->
<!--      ></button>-->
<!--      <button-->
<!--        pButton-->
<!--        label="Cancelar"-->
<!--        (click)="closeModalCortar()"-->
<!--        class="p-button-sm p-button-secondary"-->
<!--      ></button>-->
<!--    </div>-->
<!--  </ng-template>-->
<!--</p-dialog>-->

<!--&lt;!&ndash; MODAL: Bitácora &ndash;&gt;-->
<!--<p-dialog-->
<!--  header="Bitácora Preventiva"-->
<!--  [(visible)]="showModalBitacora"-->
<!--  [modal]="true"-->
<!--  [maximizable]="true"-->
<!--  [style]="{ width: '70vw', maxWidth: '850px' }"-->
<!--  [breakpoints]="{ '960px': '95vw' }"-->
<!--  [contentStyle]="{ padding: '1.5rem' }"-->
<!--  [baseZIndex]="10000"-->
<!--&gt;-->
<!--  <ng-template pTemplate="content">-->
<!--    &lt;!&ndash; Listado de bitácora &ndash;&gt;-->
<!--    <div class="mb-6">-->
<!--      <h3 class="text-lg font-semibold text-gray-700 mb-4">Registros</h3>-->
<!--      <div class="max-h-64 overflow-y-auto border border-gray-300 rounded-md">-->
<!--        <table class="min-w-full divide-y divide-gray-200">-->
<!--          <thead class="bg-gray-50">-->
<!--          <tr>-->
<!--            <th-->
<!--              scope="col"-->
<!--              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"-->
<!--            >-->
<!--              Fecha-->
<!--            </th>-->
<!--            <th-->
<!--              scope="col"-->
<!--              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"-->
<!--            >-->
<!--              Tipo-->
<!--            </th>-->
<!--            <th-->
<!--              scope="col"-->
<!--              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"-->
<!--            >-->
<!--              Detalle / Mensaje-->
<!--            </th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody class="bg-white divide-y divide-gray-200">-->
<!--          <tr *ngFor="let bit of listadoBitacora()">-->
<!--            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">-->
<!--              {{ bit.fechareg | date : "dd/MM/yyyy HH:mm" }}-->
<!--            </td>-->
<!--            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">-->
<!--              {{ bit.bitacoraTipos }}-->
<!--            </td>-->
<!--            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">-->
<!--              {{ bit.detalle }}-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr *ngIf="listadoBitacora()?.length === 0">-->
<!--            <td-->
<!--              colspan="3"-->
<!--              class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-center"-->
<!--            >-->
<!--              No hay registros de bitácora.-->
<!--            </td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="space-y-4">-->
<!--      &lt;!&ndash; Tipo &ndash;&gt;-->
<!--      <div>-->
<!--        <label-->
<!--          for="bitTipo"-->
<!--          class="block text-sm font-medium text-gray-700 mb-1"-->
<!--        >-->
<!--          Tipo-->
<!--        </label>-->
<!--        <p-select-->
<!--          [options]="bitacoraTipos"-->
<!--          [(ngModel)]="BitacuraModel().bitacoraTipos"-->
<!--          optionLabel="label"-->
<!--          optionValue="value"-->
<!--          placeholder="Seleccione tipo"-->
<!--          class="w-full md:w-56"-->
<!--          appendTo="body"-->
<!--        />-->
<!--      </div>-->

<!--      &lt;!&ndash; Detalle / Mensaje &ndash;&gt;-->
<!--      <div>-->
<!--        <label-->
<!--          for="bitDetalle"-->
<!--          class="block text-sm font-medium text-gray-700 mb-1"-->
<!--        >-->
<!--          Detalle / Mensaje-->
<!--        </label>-->
<!--        <input-->
<!--          type="text"-->
<!--          [(ngModel)]="BitacuraModel().detalle"-->
<!--          pInputText-->
<!--          placeholder="Ej. Se envió WhatsApp, cliente indica que pagará hoy."-->
<!--          class="w-full p-inputtext p-component rounded-md shadow-sm"-->
<!--        />-->
<!--      </div>-->
<!--    </div>-->
<!--  </ng-template>-->

<!--  <ng-template pTemplate="footer">-->
<!--    <div class="flex justify-end gap-2 mt-4">-->
<!--      <button-->
<!--        pButton-->
<!--        label="Agregar registro"-->
<!--        (click)="agregarBitacora()"-->
<!--        class="p-button-sm p-button-success"-->
<!--        [disabled]="bloquearboton()"-->
<!--      ></button>-->
<!--      <button-->
<!--        pButton-->
<!--        label="Cerrar"-->
<!--        (click)="closeModalBitacora()"-->
<!--        class="p-button-sm p-button-secondary"-->
<!--      ></button>-->
<!--    </div>-->
<!--  </ng-template>-->
<!--</p-dialog>-->
