<canvas #pdfCanvas style="width: 100%;height: 100%; border: 1px solid #ccc;"></canvas>

<!--<p-paginator-->
<!--  [rows]="1"-->
<!--  [totalRecords]="totalPages"-->
<!--  [first]="(currentPage - 1)"-->
<!--  (onPageChange)="onPageChange($event)"-->
<!--  [pageLinkSize]="3"-->
<!--  styleClass="custom-paginator"-->
<!--&gt;-->
<!--</p-paginator>-->
<!--<p-paginator (onPageChange)="onPageChange($event)" [first]="(currentPage - 1)" [rows]="1" [totalRecords]="totalPages"-->
<!--              [pageLinkSize]="3" styleClass="custom-paginator"/>-->
