@if (spinner()){
<app-carga></app-carga>
}
<p-toast></p-toast>

<div
  class="p-4 sm:p-6 lg:p-8 bg-white rounded-xl shadow-lg border border-gray-200"
>
  <!-- Header -->
  <header class="space-y-2">
    <h1 class="text-2xl font-bold text-gray-800">
      Retención y Negociación con Cliente
    </h1>
    <p class="text-gray-600 text-sm">
      Registra acuerdos y planes para clientes con problemas de pago. Incluye
      fraccionamiento, periodos de gracia, cambios de plan temporales, y
      recordatorios.
    </p>

    <hr class="border-gray-300" />
  </header>

  <!-- Filtros -->
  <section class="space-y-2">
    <h2 class="text-lg font-semibold text-gray-700">Filtros</h2>
    <div class="flex flex-wrap gap-4 items-end">
      <div class="flex flex-col">
        <label class="text-sm font-medium text-gray-600 mb-1">Buscar</label>
        <input
          [(ngModel)]="BuscarNegociacion().nombre_completo"
          type="text"
          placeholder="Cliente"
          class="p-inputtext p-component w-64 rounded-md shadow-sm"
        />
      </div>
      <div class="flex flex-col">
        <label class="text-sm font-medium text-gray-600 mb-1">Estado</label>
        <select
          [(ngModel)]="BuscarNegociacion().estado"
          class="p-inputtext p-component w-48 rounded-md shadow-sm"
        >
          @for (item of estadosbusqueda; track $index) {
          <option [value]="item.value">{{ item.label }}</option>
          }
        </select>
      </div>

      <div class="flex gap-2 mt-4">
        <button
          pButton
          label="Aplicar"
          class="p-button-sm p-button-primary"
          (click)="buscarNegociacion()"
        ></button>
        <button
          pButton
          label="Limpiar"
          class="p-button-sm p-button-secondary"
          (click)="limpiar_filtros()"
        ></button>

        <span class="px-3 py-1 rounded-full bg-gray-200 text-gray-700 text-sm">
          {{ Totalregistros }} registros
        </span>
      </div>
    </div>
  </section>
  <!-- Tabla -->
  <section class="p-4 bg-white rounded shadow-md">
    <h2 class="text-xl font-bold text-gray-800 mb-6">Negociaciones</h2>
    <p-button
      label="Nueva Negociación"
      icon="pi pi-plus"
      class="transition-all duration-300 hover:scale-105"
      styleClass="px-4 py-2 text-white bg-green-600 hover:bg-green-700 rounded-lg"
      (click)="openDialog()"
    />
    <p-table
      [value]="negociacionClientesRequest()"
      [tableStyle]="{ 'max-width': '100%' }"
      class="p-datatable-striped p-datatable-sm"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Cliente</th>
          <th>DNI/RUC</th>
          <th>Servicio</th>
          <th>Deuda (S/)</th>
          <th>Accion Pactada</th>
          <th>Fecha Inicio Re</th>
          <th>Recordatorio</th>
          <th>Estado</th>
          <th>Bitácora</th>
          <th>Acciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-row>
        <tr class="hover:bg-gray-100">
          <td>{{ row.nombre_completo }}</td>
          <td>{{ row.nrodocident }}</td>
          <td>{{ row.desctipo }}</td>
          <td>{{ row.monto_total }}</td>
          <td>{{ row.acciones_negociacion }}</td>
          <td>
            {{ row.fecha_inicio | date : "dd/MM/yyyy" }}
          </td>
          <td>{{ row.canal_preferido }}</td>
          <td>
            <span
              [ngClass]="{
                'px-2 py-1 rounded text-xs font-semibold': true,
                'bg-green-100 text-green-800': row.estado === 'VIGENTE',
                'bg-blue-100 text-blue-800': row.estado === 'CUMPLIDA',
                'bg-red-100 text-red-800': row.estado === 'INCUMPLIDA',
                'bg-gray-200 text-gray-800': row.estado === 'CANCELADA'
              }"
            >
              {{ row.estado }}
            </span>
          </td>

          <td>
            <button
              (click)="abrirBitacora(row)"
              class="px-3 py-1 text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 rounded shadow-sm transition duration-150 ease-in-out cursor-pointer"
            >
              Bitácora
            </button>
          </td>

          <td>
            <div class="flex gap-2 justify-center">
              <button
                pButton
                icon="pi pi-whatsapp"
                class="p-button-rounded p-button-success p-button-sm"
                (click)="accionWhatsapp(row)"
                pTooltip="Enviar WhatsApp"
              ></button>

              <!--BOTON PARA VER DETALLE-->
              <button
                pButton
                icon="pi pi-eye"
                class="p-button-rounded p-button-info p-button-sm"
                (click)="verdetalleNegociacion(row)"
                pTooltip="Ver Detalle"
              ></button>

              <!--BOTON Actualizar estado-->
              <button
                pButton
                icon="pi pi-refresh"
                class="p-button-rounded p-button-warning p-button-sm"
                (click)="actualizarEstado(row)"
                pTooltip="Actualizar Estado"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="10" class="text-center text-gray-400 italic py-4">
            No hay negociaciones disponibles.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</div>
<!-- MODAL: Bitácora -->
<p-dialog
  header="Bitácora Preventiva"
  [(visible)]="showModalBitacora"
  [modal]="true"
  [maximizable]="true"
  [style]="{ width: '70vw', maxWidth: '850px' }"
  [breakpoints]="{ '960px': '95vw' }"
  [contentStyle]="{ padding: '1.5rem' }"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <!-- Listado de bitácora -->
    <p-panel>
      <ng-template #header>
        <div class="flex items-center gap-1">
          <span class="font-bold text-green-600">Listado de Bitácora</span>
          @if (spinner()) {
          <div
            class="flex items-center gap-2 text-sm text-blue-500 animate-pulse"
          >
            <svg
              class="w-4 h-4 animate-spin text-blue-400"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8v8H4z"
              ></path>
            </svg>
            <span class="italic font-medium"
              >Cargando... El listado de bitácora
            </span>
          </div>
          }
        </div>
      </ng-template>

      <section>
        <p-table
          [value]="listadoBitacora()"
          [scrollable]="true"
          scrollHeight="400px"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Fecha</th>
              <th>Tipo</th>
              <th>Detalle / Mensaje</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-row>
            <tr>
              <td>{{ row.fechareg | date : "dd/MM/yyyy HH:mm" }}</td>
              <td>{{ row.bitacoraTipos }}</td>
              <td>{{ row.detalle }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="6" class="text-center text-gray-400 italic py-4">
                No hay facturas disponibles.
              </td>
            </tr>
          </ng-template>
        </p-table>
      </section>
    </p-panel>

    <div class="space-y-4">
      <!-- Tipo -->
      <div>
        <label
          for="bitTipo"
          class="block text-sm font-medium text-gray-700 mb-1"
        >
          Tipo
        </label>
        <p-select
          [options]="bitacoraTipos"
          [(ngModel)]="BitacuraModel().bitacoraTipos"
          optionLabel="label"
          optionValue="value"
          placeholder="Seleccione tipo"
          class="w-full md:w-56"
          appendTo="body"
        />
      </div>

      <!-- Detalle / Mensaje -->
      <div>
        <label
          for="bitDetalle"
          class="block text-sm font-medium text-gray-700 mb-1"
        >
          Detalle / Mensaje
        </label>
        <input
          type="text"
          [(ngModel)]="BitacuraModel().detalle"
          pInputText
          placeholder="Ej. Se envió WhatsApp, cliente indica que pagará hoy."
          class="w-full p-inputtext p-component rounded-md shadow-sm"
        />
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-2 mt-4">
      <button
        pButton
        label="Agregar registro"
        (click)="agregarBitacora()"
        class="p-button-sm p-button-success"
        [disabled]="bloquearboton()"
      ></button>
      <button
        pButton
        label="Cerrar"
        (click)="closeModalBitacora()"
        class="p-button-sm p-button-secondary"
      ></button>
    </div>
  </ng-template>
</p-dialog>

<p-dialog
  header="Nueva Negociación"
  [modal]="true"
  [maximizable]="true"
  [(visible)]="negociacionDialog"
  [style]="{ width: '70vw', overflow: 'hidden' }"
  [breakpoints]="{ '960px': '80vw' }"
>
  <ng-template pTemplate="content">
    <p-panel>
      <ng-template #header>
        <div class="flex items-center gap-1">
          <span class="font-bold text-green-600"
            >1. Datos del Cliente y Negociación</span
          >
          @if (spinner()) {
          <div
            class="flex items-center gap-2 text-sm text-blue-500 animate-pulse"
          >
            <svg
              class="w-4 h-4 animate-spin text-blue-400"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8v8H4z"
              ></path>
            </svg>
            <span class="italic font-medium">Cargando.. </span>
          </div>
          }
        </div>
      </ng-template>
      <section>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
          <div>
            <label class="block text-sm font-medium text-gray-700 mb-1">
              Cliente
              <i
                class="pi pi-info-circle"
                style="color: red; font-size: 0.7rem"
              ></i
            ></label>
            <p-autoComplete
              [(ngModel)]="nombrecliente"
              [forceSelection]="true"
              [dropdown]="true"
              appendTo="body"
              class="w-full"
              [suggestions]="clientes"
              (completeMethod)="search($event)"
              (ngModelChange)="cambionombre()"
              optionLabel="nombreapellido"
              [invalid]="formErrors.nombre_completo() && !nombrecliente"
            >
              <ng-template let-item #item>
                <div class="flex items-center gap-2">
                  <div>{{ item.nombreapellido }}</div>
                </div>
              </ng-template>
            </p-autoComplete>
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700 mb-1">
              RUC/DNI
            </label>
            <input
              pInputText
              [(ngModel)]="negociacionModel().nrodocident"
              placeholder="RUC/DNI"
              class="w-full p-inputtext p-component rounded-md shadow-sm"
              readonly
            />
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700 mb-1">
              Tipo de Servicio
              <i
                class="pi pi-info-circle"
                style="color: red; font-size: 0.7rem"
              ></i>
            </label>

            <p-select
              [options]="clienteContratoxServicio()"
              [(ngModel)]="obtenerOneclienteContratoxServicio"
              optionLabel="descripcion"
              placeholder="Seleccione tipo"
              class="w-full"
              appendTo="body"
              (ngModelChange)="
                verFacturacion(
                  obtenerOneclienteContratoxServicio.id_contrato,
                  negociacionModel().id_cliente
                )
              "
            >
              <ng-template let-contrato pTemplate="item">
                <div>
                  Nº Contrato: {{ contrato.id_contrato }} -
                  {{ contrato.descripcion }}
                </div>
              </ng-template>
            </p-select>
          </div>
          <div>
            <label class="block text-sm font-medium mb-1"
              >Correo Electrónico</label
            >
            <input
              pInputText
              [value]="negociacionModel().email"
              readonly
              placeholder="correo@ejemplo.com"
              class="w-full"
            />
          </div>

          <!-- Teléfono -->
          <div>
            <label class="block text-sm font-medium mb-1">Teléfono</label>
            <input
              pInputText
              [(ngModel)]="negociacionModel().telefono"
              placeholder="Ingrese teléfono"
              class="w-full"
              readonly
            />
          </div>
        </div>
      </section>
    </p-panel>

    <p-panel class="mt-4">
      <ng-template #header>
        <div class="flex items-center gap-1">
          <span class="font-bold text-green-600"
            >Facturas por Contrato Nº
            {{ obtenerOneclienteContratoxServicio.id_contrato }}</span
          >
        </div>
      </ng-template>
      <section>
        <p-table [value]="facturas()" [scrollable]="true" scrollHeight="400px">
          <ng-template pTemplate="header">
            <tr>
              <th>Factura</th>
              <th>Fecha de Emisión</th>
              <th>Fecha de Vencimiento</th>
              <th>Monto</th>
              <th>Descripción</th>
              <th>Estado</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-factura>
            <tr>
              <td>{{ factura.codigo_factura }}</td>
              <td>{{ factura.fecha_emision | date : "dd/MM/yyyy" }}</td>
              <td>{{ factura.fecha_vencimiento | date : "dd/MM/yyyy" }}</td>
              <td>{{ "S/" + factura.monto }}</td>
              <td>{{ factura.observaciones }}</td>
              <td>
                <span
                  class="px-2 py-1 rounded-full text-xs font-medium"
                  [ngClass]="{
                    'bg-green-100 text-green-700': factura.estado === 'PAGADO',
                    'bg-yellow-100 text-yellow-700':
                      factura.estado === 'POR_VENCER',
                    'bg-red-100 text-red-700': factura.estado === 'VENCIDO',
                    'bg-purple-100 text-purple-700':
                      factura.estado === 'MOROSO_CRONICO'
                  }"
                >
                  {{ factura.estado }}
                </span>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="6" class="text-center text-gray-400 italic py-4">
                No hay facturas disponibles.
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr>
              <td colspan="3" class="text-right font-bold">Total Monto:</td>
              <td colspan="3" class="font-bold">S/ {{ totalMonto }}</td>
            </tr>
          </ng-template>
        </p-table>
      </section>
    </p-panel>
    <p-panel class="mt-4">
      <ng-template #header>
        <div class="flex items-center gap-1">
          <span class="font-bold text-green-600"
            >2. Acciones de negociación</span
          >
        </div>
      </ng-template>
      <section>
        <div class="w-full mb-2">
          <div
            class="flex flex-col md:flex-row md:items-center md:justify-start gap-4"
          >
            <!-- <div class="flex items-center">
              <p-radiobutton
                name="cambio"
                value="FRACCIONAMIENTO"
                [(ngModel)]="negociacionModel().acciones_negociacion"
                inputId="FRACCIONAMIENTO"
              />
              <label for="FRACCIONAMIENTO" class="ml-2">FRACCIONAMIENTO</label>
            </div> -->

            <div class="flex items-center">
              <p-radiobutton
                name="cambio"
                value="MODIFICAR_PLAN_PAGOS"
                [(ngModel)]="negociacionModel().acciones_negociacion"
                inputId="MODIFICAR_PLAN_PAGOS"
              />
              <label for="MODIFICAR_PLAN_PAGOS" class="ml-2"
                >MODIFICAR PLAN PAGOS</label
              >
            </div>

            <div class="flex items-center">
              <p-radiobutton
                name="cambio"
                value="PERIODO_DE_GRACIA"
                [(ngModel)]="negociacionModel().acciones_negociacion"
                inputId="PERIODO_DE_GRACIA"
              />
              <label for="PERIODO_DE_GRACIA" class="ml-2"
                >PERIODO DE GRACIA</label
              >
            </div>
          </div>
        </div>
        @if (this.negociacionModel().acciones_negociacion === 'FRACCIONAMIENTO')
        {
        <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
          <div>
            <label
              for="monto_pagado"
              class="block text-sm font-medium text-gray-700"
              >Monto a Pagar
              <i
                class="pi pi-info-circle"
                style="color: red; font-size: 0.7rem"
              ></i
            ></label>
            <input
              type="number"
              pInputText
              [(ngModel)]="negociacionModel().montopagar_inicial"
              placeholder="Monto a Pagar"
              [step]="1"
              [minlength]="1"
              class="w-full bg-gray-100 text-gray-500 pr-10"
            />
          </div>
          <!--BOTON GENERAR-->
          <div class="flex items-end justify-end">
            <button
              pButton
              type="button"
              label="Generar"
              icon="pi pi-cog"
              class="p-button-rounded p-button-success p-button-sm mt-6"
              (click)="generarFraccionamiento()"
            ></button>
          </div>
        </div>
        <div>
          <p-table
            [value]="tablafraccionamiento"
            [scrollable]="true"
            scrollHeight="400px"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Factura</th>
                <th>Monto</th>
                <th>Monto Fraccionado</th>
                <th>Descripción</th>
                <th>Estado</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-factura>
              <tr>
                <td>{{ factura.codigo_factura }}</td>
                <td>{{ "S/" + factura.saldo }}</td>
                <td>{{ "S/" + factura.monto_fraccionado }}</td>
                <td>{{ factura.observaciones }}</td>
                <td>
                  <span
                    class="px-2 py-1 rounded-full text-xs font-medium"
                    [ngClass]="{
                      'bg-green-100 text-green-700':
                        factura.estado === 'PAGADO',
                      'bg-yellow-100 text-yellow-700':
                        factura.estado === 'POR_VENCER',
                      'bg-red-100 text-red-700': factura.estado === 'VENCIDO',
                      'bg-purple-100 text-purple-700':
                        factura.estado === 'MOROSO_CRONICO'
                    }"
                  >
                    {{ factura.estado }}
                  </span>
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="6" class="text-center text-gray-400 italic py-4">
                  No hay facturas disponibles.
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        } @if (this.negociacionModel().acciones_negociacion ===
        'MODIFICAR_PLAN_PAGOS') {
        <div>
          <div>
            <p-table
              [value]="tablafraccionamiento"
              [scrollable]="true"
              scrollHeight="400px"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>Factura</th>
                  <th>Fecha Vencimiento</th>
                  <th>Fecha Vencimiento Propuesto</th>
                  <th>Descripción</th>
                  <th>Estado</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-factura let-editing="editing">
                <tr>
                  <td>{{ factura.codigo_factura }}</td>
                  <td>{{ factura.fecha_vencimiento | date : "dd/MM/yyyy" }}</td>
                  <td
                    [pEditableColumn]="factura.fecha_vencimiento_nuevo"
                    pEditableColumnField="fecha_vencimiento_nuevo"
                  >
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input
                          pInputText
                          type="date"
                          [(ngModel)]="factura.fecha_vencimiento_nuevo"
                          [style]="{ width: '200px' }"
                        />
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{
                          factura.fecha_vencimiento_nuevo | date : "dd/MM/yyyy"
                        }}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>{{ factura.observaciones }}</td>
                  <td>
                    <span
                      class="px-2 py-1 rounded-full text-xs font-medium"
                      [ngClass]="{
                        'bg-green-100 text-green-700':
                          factura.estado === 'PAGADO',
                        'bg-yellow-100 text-yellow-700':
                          factura.estado === 'POR_VENCER',
                        'bg-red-100 text-red-700': factura.estado === 'VENCIDO',
                        'bg-purple-100 text-purple-700':
                          factura.estado === 'MOROSO_CRONICO'
                      }"
                    >
                      {{ factura.estado }}
                    </span>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6" class="text-center text-gray-400 italic py-4">
                    No hay facturas disponibles.
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
        } @if (this.negociacionModel().acciones_negociacion ===
        'PERIODO_DE_GRACIA') {
        <div>
          <div>
            <label
              for="monto_pagado"
              class="block text-sm font-medium text-gray-700"
              >Días de gracia
              <i
                class="pi pi-info-circle"
                style="color: red; font-size: 0.7rem"
              ></i
            ></label>
            <input
              type="number"
              pInputText
              [(ngModel)]="negociacionModel().periodo_gracia"
              placeholder="Días de gracia"
              [step]="1"
              [minlength]="1"
              class="w-full bg-gray-100 text-gray-500 pr-10"
            />
          </div>
        </div>
        }
      </section>
    </p-panel>

    <p-panel class="mt-4">
      <ng-template #header>
        <div class="flex items-center gap-1">
          <span class="font-bold text-green-600">3. Recordatorios</span>
        </div>
      </ng-template>
      <section>
        <div class="w-full">
          <div
            class="flex flex-col md:flex-row md:items-center md:justify-start gap-4"
          >
            <div>
              <label
                for="bitTipo"
                class="block text-sm font-medium text-gray-700 mb-1"
              >
                Auto-recordatorio
              </label>
              <p-select
                [options]="autorecordatorioList"
                [(ngModel)]="negociacionModel().auto_recordatorio"
                optionLabel="label"
                optionValue="value"
                placeholder="Seleccione tipo"
                class="w-full md:w-56"
                appendTo="body"
              />
            </div>

            <div class="flex items-center">
              <div>
                <label
                  for="bitTipo"
                  class="block text-sm font-medium text-gray-700 mb-1"
                >
                  Canal preferido
                </label>
                <p-select
                  [options]="canal_preferidoList"
                  [(ngModel)]="negociacionModel().canal_preferido"
                  optionLabel="label"
                  optionValue="value"
                  placeholder="Seleccione tipo"
                  class="w-full md:w-56"
                  appendTo="body"
                />
              </div>
            </div>

            <div class="flex items-center">
              <div>
                <label
                  for="monto_pagado"
                  class="block text-sm font-medium text-gray-700"
                  >Frecuencia de Días</label
                >
                <input
                  type="number"
                  pInputText
                  [(ngModel)]="negociacionModel().frecuencia_dias"
                  placeholder="Días"
                  [step]="1"
                  class="w-full bg-gray-100 text-gray-500 pr-10"
                />
              </div>

              <div class="ml-4">
                <label
                  for="fecha_inicio"
                  class="block text-sm font-medium text-gray-700"
                  >Primer recordatorio</label
                >
                <p-datepicker
                  [(ngModel)]="negociacionModel().fecha_inicio"
                  name="fecha_inicio"
                  dateFormat="dd/mm/yy"
                  [showIcon]="true"
                  inputId="buttondisplay"
                  class="w-full !h-[42px] rounded-xl"
                ></p-datepicker>
              </div>
            </div>
          </div>
        </div>
      </section>
    </p-panel>
    @if (spinner() && bloquearboton()) {
    <div class="flex items-center gap-2 text-sm text-blue-500 animate-pulse">
      <svg
        class="w-4 h-4 animate-spin text-blue-400"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <circle
          class="opacity-25"
          cx="12"
          cy="12"
          r="10"
          stroke="currentColor"
          stroke-width="4"
        ></circle>
        <path
          class="opacity-75"
          fill="currentColor"
          d="M4 12a8 8 0 018-8v8H4z"
        ></path>
      </svg>
      <span class="italic font-medium"
        >se esta guardando la negociación por favor espera...</span
      >
    </div>
    }
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-2 mt-4">
      <button
        pButton
        label="Guardar Negociación"
        (click)="guardarNegociacion()"
        class="p-button-sm p-button-success"
        [disabled]="bloquearboton()"
      ></button>
      <button
        pButton
        label="Cerrar"
        (click)="negociacionDialog = false"
        class="p-button-sm p-button-secondary"
      ></button>
    </div>
  </ng-template>
</p-dialog>
<p-dialog
  header="Detalle de negociación"
  [(visible)]="verdetalle"
  [modal]="true"
  [maximizable]="true"
  [style]="{ width: '70vw', maxWidth: '850px' }"
  [breakpoints]="{ '960px': '95vw' }"
  [contentStyle]="{ padding: '1.5rem' }"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <p-panel>
      <ng-template #header>
        <div class="flex items-center gap-1">
          <span class="font-bold text-green-600">DETALLE DEL CLIENTE</span>
        </div>
      </ng-template>
      <section>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
          <div>
            <!--nombre_completo mostrar-->
            <span class="block text-sm font-medium text-gray-700 mb-1"
              >Cliente</span
            >
            <span class="block text-sm text-gray-500">{{
              mostrardetallenegociacion().nombre_completo
            }}</span>
          </div>
          <div>
            <span class="block text-sm font-medium text-gray-700 mb-1"
              >RUC/DNI</span
            >
            <span class="block text-sm text-gray-500">{{
              mostrardetallenegociacion().nrodocident
            }}</span>
          </div>
          <div>
            <span class="block text-sm font-medium text-gray-700 mb-1"
              >Tipo de Servicio</span
            >
            <span class="block text-sm text-gray-500">{{
              mostrardetallenegociacion().desctipo
            }}</span>
          </div>
          <div>
            <label class="block text-sm font-medium mb-1">Deuda</label>
            <span class="block text-sm text-gray-500"
              >S/ {{ mostrardetallenegociacion().monto_total }}</span
            >
          </div>

          <div>
            <label class="block text-sm font-medium mb-1">Accion Pactada</label>
            <span class="block text-sm text-gray-500">
              {{ mostrardetallenegociacion().acciones_negociacion }}</span
            >
          </div>
          <div>
            <label class="block text-sm font-medium mb-1"
              >Estado Negociacion</label
            >
            <span
              [ngClass]="{
                'px-2 py-1 rounded text-xs font-semibold': true,
                'bg-green-100 text-green-800':
                  mostrardetallenegociacion().estado === 'VIGENTE',
                'bg-blue-100 text-blue-800':
                  mostrardetallenegociacion().estado === 'CUMPLIDA',
                'bg-red-100 text-red-800':
                  mostrardetallenegociacion().estado === 'INCUMPLIDA',
                'bg-gray-200 text-gray-800':
                  mostrardetallenegociacion().estado === 'CANCELADA'
              }"
            >
              {{ mostrardetallenegociacion().estado }}
            </span>
          </div>
        </div>
      </section>
    </p-panel>
    <p-panel class="mt-4">
      <ng-template #header>
        <div class="flex items-center gap-1">
          <span class="font-bold text-green-600">Facturas del Cliente </span>
          @if (spinner()) {
          <div
            class="flex items-center gap-2 text-sm text-blue-500 animate-pulse"
          >
            <svg
              class="w-4 h-4 animate-spin text-blue-400"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8v8H4z"
              ></path>
            </svg>
            <span class="italic font-medium"
              >Cargando... las facturas del cliente</span
            >
          </div>
          }
        </div>
      </ng-template>
      <section>
        <p-table
          [value]="tablafraccionamiento"
          [scrollable]="true"
          scrollHeight="400px"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Factura</th>
              <th>Fecha Vencimiento</th>
              <th>Fecha de Vencimiento Nuevo</th>
              <th>Monto</th>
              <th>Descripción</th>
              <th>Estado</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-factura>
            <tr>
              <td>{{ factura.codigo_factura }}</td>
              <td>{{ factura.fecha_vencimiento | date : "dd/MM/yyyy" }}</td>
              <td>
                {{ factura.fecha_vencimiento_nuevo | date : "dd/MM/yyyy" }}
              </td>
              <td>{{ "S/" + factura.monto }}</td>
              <td>{{ factura.observaciones }}</td>
              <td>
                <span
                  class="px-2 py-1 rounded-full text-xs font-medium"
                  [ngClass]="{
                    'bg-green-100 text-green-700': factura.estado === 'PAGADO',
                    'bg-yellow-100 text-yellow-700':
                      factura.estado === 'POR_VENCER',
                    'bg-red-100 text-red-700': factura.estado === 'VENCIDO',
                    'bg-purple-100 text-purple-700':
                      factura.estado === 'MOROSO_CRONICO'
                  }"
                >
                  {{ factura.estado }}
                </span>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="6" class="text-center text-gray-400 italic py-4">
                No hay facturas disponibles.
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr>
              <td colspan="3" class="text-right font-bold">Total Monto:</td>
              <td colspan="3" class="font-bold">S/ {{ totalMontodeuda }}</td>
            </tr>
          </ng-template>
        </p-table>
      </section>
    </p-panel>

    <p-panel class="mt-4">
      <ng-template #header>
        <div class="flex items-center gap-1">
          <span class="font-bold text-green-600">Listado de Bitácora</span>
          @if (spinner()) {
          <div
            class="flex items-center gap-2 text-sm text-blue-500 animate-pulse"
          >
            <svg
              class="w-4 h-4 animate-spin text-blue-400"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8v8H4z"
              ></path>
            </svg>
            <span class="italic font-medium"
              >Cargando... El listado de bitácora</span
            >
          </div>
          }
        </div>
      </ng-template>

      <section>
        <p-table
          [value]="listadoBitacora()"
          [scrollable]="true"
          scrollHeight="400px"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Fecha</th>
              <th>Tipo</th>
              <th>Detalle / Mensaje</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-row>
            <tr>
              <td>{{ row.fechareg | date : "dd/MM/yyyy HH:mm" }}</td>
              <td>{{ row.bitacoraTipos }}</td>
              <td>{{ row.detalle }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="6" class="text-center text-gray-400 italic py-4">
                No hay facturas disponibles.
              </td>
            </tr>
          </ng-template>
        </p-table>
      </section>
    </p-panel>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-2 mt-4">
      <button
        pButton
        label="Cerrar"
        (click)="verdetalle = false"
        class="p-button-sm p-button-secondary"
      ></button>
    </div>
  </ng-template>
</p-dialog>
