@if (spinner()){
<app-carga></app-carga>
}
<p-toast></p-toast>

<div class="p-6 bg-white rounded-lg shadow-md space-y-6">
  <h2
    class="text-3xl font-bold text-indigo-700 tracking-tight flex items-center gap-3 border-b pb-3"
  >
    <i class="pi pi-credit-card text-indigo-500 text-xl"></i>
    Gestión de Cobranzas
  </h2>
  <!-- Filtros -->
  <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
    <!-- Nombre Completo -->
    <div>
      <label
        for="nombre_completo"
        class="text-sm font-semibold text-gray-600 block mb-1"
      >
        <i class="pi pi-user text-indigo-500 me-1"></i> Nombre Completo
      </label>
      <input
        id="nombre_completo"
        [(ngModel)]="searchValue"
        placeholder="Ej. Juan Pérez"
        class="w-full rounded-lg border border-gray-300 px-3 py-2 text-sm shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500"
      />
    </div>

    <!-- Estado -->
    <div>
      <label
        for="estado"
        class="text-sm font-semibold text-gray-600 block mb-1"
      >
        <i class="pi pi-check-circle text-indigo-500 me-1"></i> Estado
      </label>
      <select
        id="estado"
        [(ngModel)]="facturacionEnvio().estado"
        class="w-full rounded-lg border border-gray-300 px-3 py-2 text-sm shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500"
      >
        <option *ngFor="let estado of estados" [value]="estado.value">
          {{ estado.label }}
        </option>
      </select>
    </div>

    <!-- Tipo de Servicio -->
    <div>
      <label
        for="id_tipo"
        class="text-sm font-semibold text-gray-600 block mb-1"
      >
        <i class="pi pi-cog text-indigo-500 me-1"></i> Tipo de Servicio
      </label>
      <select
        id="id_tipo"
        [(ngModel)]="facturacionEnvio().id_tipo"
        class="w-full rounded-lg border border-gray-300 px-3 py-2 text-sm shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500"
      >
        <option value="">-- Seleccione --</option>
        <option
          *ngFor="let tipo of listaTpoServicioes_servicio()"
          [value]="tipo.id_tipo"
        >
          {{ tipo.descripcion }}
        </option>
      </select>
    </div>
  </div>

  <!-- Botones -->
  <div class="flex justify-end gap-3 mt-6">
    <button
      (click)="limpiarFiltros()"
      class="px-4 py-2 text-sm font-medium bg-gray-100 text-gray-700 rounded-lg hover:bg-gray-200 transition cursor-pointer"
    >
      <i class="pi pi-times me-2"></i> Limpiar
    </button>
    <button
      (click)="buscarFacturas()"
      class="px-4 py-2 text-sm font-medium bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 transition cursor-pointer"
    >
      <i class="pi pi-search me-2"></i> Buscar
    </button>
  </div>

  <p-table
    [value]="facturas()"
    [scrollable]="true"
    [scrollable]="true"
    scrollHeight="400px"
    class="'p-datatable-striped p-datatable-sm shadow-md rounded-lg border-gray-200'"
  >
    <!-- Encabezado -->
    <ng-template pTemplate="header">
      <tr class="bg-indigo-50 text-indigo-800 text-sm font-semibold">
        <th>Factura</th>
        <th pSortableColumn="nombre_completo">
          Cliente <p-sortIcon field="nombre_completo" />
        </th>
        <th>Servicio</th>
        <th>Descripción</th>
        <th>Periodo</th>
        <th>Monto</th>
        <th pSortableColumn="saldo">Saldo <p-sortIcon field="saldo" /></th>
        <th>Fecha de Vencimiento</th>
        <th>Días</th>
        <th pSortableColumn="estado">Estado <p-sortIcon field="estado" /></th>

        <th>Acciones</th>
      </tr>
    </ng-template>

    <!-- Cuerpo -->
    <ng-template pTemplate="body" let-factura>
      <tr class="text-sm text-gray-700">
        <td>{{ factura.codigo_factura }}</td>
        <td>{{ factura.nombre_completo }}</td>
        <td>{{ factura.desctipo }}</td>
        <td>{{ factura.observaciones }}</td>
        <td>{{ factura.periodo }}</td>
        <td>S/{{ factura.monto }}</td>
        <td>S/{{ factura.saldo }}</td>
        <td>{{ factura.fecha_vencimiento | date : "dd/MM/yyyy" }}</td>
        <td>{{ factura.dias_mora }}</td>
        <td>
          <span
            class="px-2 py-1 rounded-full text-xs font-medium"
            [ngClass]="{
              'bg-green-100 text-green-700': factura.estado === 'PAGADO',
              'bg-yellow-100 text-yellow-700': factura.estado === 'POR_VENCER',
              'bg-red-100 text-red-700': factura.estado === 'VENCIDO',
              'bg-purple-100 text-purple-700':
                factura.estado === 'MOROSO_CRONICO'
            }"
          >
            {{ factura.estado }}
          </span>
        </td>

        <td class="text-center">
          <div class="flex gap-2 justify-center">
            @if (factura.estado != 'PAGADO') {
            <button
              pButton
              type="button"
              icon="pi pi-bell"
              class="p-button-rounded p-button-info p-button-sm"
              pTooltip="Recordar Pago"
              tooltipPosition="top"
              (click)="recordarPago(factura)"
            ></button>
            <button
              pButton
              type="button"
              icon="pi pi-wallet"
              class="p-button-rounded p-button-success p-button-sm"
              pTooltip="Registrar Pago"
              tooltipPosition="top"
              (click)="registrarPago(factura)"
            ></button>

            } @else {
              @if(!factura.url_pdf){

              <button
                pButton
                type="button"
                icon="pi pi-folder"
                class="p-button-rounded p-button-warning p-button-sm"
                pTooltip="Generar Factura"
                tooltipPosition="top"
                (click)="detallefactura(factura)"
              ></button>
              }
              @if(factura.url_pdf){

                <button
                  pButton
                  type="button"
                  icon="pi pi-file-pdf"
                  class="p-button-rounded p-button-danger p-button-sm"
                  pTooltip="Imprimir pdf"
                  tooltipPosition="top"
                  (click)="imprimirpdf(factura)"
                ></button>
              }

            }

            <button
              pButton
              type="button"
              icon="pi pi-calendar"
              class="p-button-rounded p-button-warning p-button-sm"
              pTooltip="Ver Historial"
              tooltipPosition="top"
              (click)="verHistorial(factura)"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>

    <!-- Footer -->
    <ng-template pTemplate="footer">
      <tr class="bg-gray-50 text-sm font-semibold text-gray-700">
        <td colspan="5" class="p-0">
          <div class="w-full text-end pe-3 font-bold">Totales:</div>
        </td>
        <td class="font-bold">S/{{ getTotales().monto }}</td>
        <td class="font-bold">S/{{ getTotales().saldo }}</td>
        <td colspan="4"></td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog
  [(visible)]="abrimodelpagos"
  [modal]="true"
  [maximizable]="true"
  [style]="{ width: '70vw', maxWidth: '850px' }"
  [breakpoints]="{ '960px': '95vw' }"
  (onHide)="cerrarModal()"
>
  <!-- HEADER personalizado -->
  <ng-template pTemplate="header">
    <div class="flex items-center gap-3">
      <div
        class="flex h-10 w-10 items-center justify-center rounded-full bg-primary/10"
      >
        <i class="pi pi-wallet text-primary text-xl"></i>
      </div>
      <h2 class="text-xl font-semibold text-gray-800">Registrar Pago</h2>
    </div>
  </ng-template>

  <ng-template pTemplate="content">
    <div class="p-6">
      <form class="space-y-6">
        <!-- Grid -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <!-- Factura -->
          <div>
            <label
              for="id_factura"
              class="block text-sm font-medium text-gray-700"
              >Factura</label
            >
            <div class="relative">
              <input
                id="codigo_factura"
                name="codigo_factura"
                [(ngModel)]="pagos().codigo_factura"
                readonly
                pInputText
                class="w-full bg-gray-100 text-gray-500 pr-10 cursor-not-allowed"
              />
              <i
                class="pi pi-lock absolute right-3 top-1/2 -translate-y-1/2 text-gray-400"
              ></i>
            </div>
          </div>

          <!-- Cliente -->
          <div>
            <label
              for="nombre_completo"
              class="block text-sm font-medium text-gray-700"
              >Cliente</label
            >
            <div class="relative">
              <input
                id="nombre_completo"
                name="nombre_completo"
                [(ngModel)]="pagos().nombre_completo"
                placeholder="Nombre del cliente"
                pInputText
                readonly
                class="w-full bg-gray-100 text-gray-500 pr-10 cursor-not-allowed"
              />
              <i
                class="pi pi-lock absolute right-3 top-1/2 -translate-y-1/2 text-gray-400"
              ></i>
            </div>
          </div>

          <!-- Método de Pago -->
          <div>
            <label class="block text-sm font-medium mb-1">Método de Pago</label>
            <div class="relative">
              <!-- Ícono decorativo -->
              <i
                class="pi pi-credit-card absolute left-3 top-1/2 -translate-y-1/2 text-primary"
              ></i>

              <p-select
                [options]="metodosPago"
                [(ngModel)]="pagos().id_metodo"
                name="id_metodo"
                optionLabel="label"
                optionValue="value"
                appendTo="body"
                placeholder="Selecciona tipo"
                class="w-full"
                [invalid]="formErrors.id_metodo()"
              >
                <ng-template #selectedItem let-opt>
                  <div class="flex items-center gap-2">
                    <i class="pi pi-paypal text-green-600"></i>
                    <span>{{ opt.label }}</span>
                  </div>
                </ng-template>
                <ng-template let-opt pTemplate="item">
                  <div class="flex items-center gap-2">
                    <i class="pi pi-paypal text-green-600"></i>
                    <span>{{ opt.label }}</span>
                  </div>
                </ng-template>
              </p-select>
            </div>
          </div>

          <!-- Fecha de Pago -->
          <div>
            <label
              for="fecha_pago"
              class="block text-sm font-medium text-gray-700"
              >Fecha de Pago</label
            >
            <p-datepicker
              [(ngModel)]="pagos().fecha_pago"
              name="fecha_pago"
              dateFormat="dd/mm/yy"
              [showIcon]="true"
              inputId="buttondisplay"
              class="w-full !h-[42px] rounded-xl"
              [invalid]="formErrors.fecha_pago()"
            ></p-datepicker>
          </div>

          <!-- Monto -->
          <div>
            <label
              for="monto_pagado"
              class="block text-sm font-medium text-gray-700"
              >Monto Pagado (S/.)</label
            >
            <input
              type="number"
              id="monto_pagado"
              name="monto_pagado"
              [(ngModel)]="pagos().monto_pagado"
              placeholder="0.00"
              pInputText
              class="w-full"
              [maxlength]="pagos().monto_pagado"
              [max]="pagos().monto_pagado"
              [min]="1"
              [invalid]="formErrors.monto_pagado()"
            />
          </div>

          <!-- N° Operación -->
          <div>
            <label
              for="numero_operacion"
              class="block text-sm font-medium text-gray-700"
              >Número de Operación</label
            >
            <input
              id="numero_operacion"
              name="numero_operacion"
              [(ngModel)]="pagos().numero_operacion"
              placeholder="Ej. 123456789"
              pInputText
              class="w-full"
            />
          </div>

          <!-- Archivo -->
          <div class="md:col-span-2">
            <label
              for="adjunto_boleta"
              class="block text-sm font-medium text-gray-700"
              >Adjuntar Boleta</label
            >
            <input
              type="file"
              id="adjunto_boleta"
              (change)="onFileSelected($event)"
              class="mt-1 block w-full text-sm text-gray-500 border border-gray-200 rounded-xl shadow-sm file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:bg-primary file:text-white hover:file:bg-primary-dark cursor-pointer"
            />
          </div>

          <!-- Observaciones (💡 ahora dentro del grid) -->
          <div class="md:col-span-2">
            <label
              for="observaciones"
              class="block text-sm font-medium text-gray-700"
              >Observaciones</label
            >
            <textarea
              id="observaciones"
              name="observaciones"
              [(ngModel)]="pagos().observaciones"
              rows="2"
              pInputTextarea
              placeholder="Referencia"
              class="w-full"
            ></textarea>
          </div>
        </div>

        <!-- Botones -->
        <div class="flex justify-end gap-3 pt-4">
          <button
            type="button"
            (click)="cerrarModal()"
            pButton
            label="Cancelar"
            class="p-button-outlined p-button-secondary"
          ></button>
          <button
            type="submit"
            (click)="guardarPago()"
            [disabled]="disabled()"
            pButton
            label="Guardar"
            class="p-button-success"
          ></button>
        </div>
      </form>
    </div>
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="abrimodalhistorial"
  [modal]="true"
  [maximizable]="true"
  [style]="{ width: '70vw', maxWidth: '850px' }"
  [breakpoints]="{ '960px': '95vw' }"
>
  <ng-template pTemplate="header">
    <h5>Historial de Servicios</h5>
  </ng-template>
  <ng-template pTemplate="content">
    <p-table [value]="listaHistorialServicio()" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th>Fecha</th>
          <th>Descripción</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ item.fecha_accion | date : "dd/MM/yyyy" }}</td>
          <td>{{ item.descripcion }}</td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
</p-dialog>
@if (abrirdetallefactura){
<p-dialog
  [(visible)]="abrirdetallefactura"
  [modal]="true"
  [maximizable]="true"
  [style]="{ width: '70vw', maxWidth: '850px' }"
  [breakpoints]="{ '960px': '95vw' }"
  (onHide)="cerrarModal()"
>
  <!-- HEADER personalizado -->
  <ng-template pTemplate="header">
    <div class="flex items-center gap-3">
      <div
        class="flex h-10 w-10 items-center justify-center rounded-full bg-red-100"
      >
        <i class="pi pi-wallet text-red-600 text-xl"></i>
      </div>
      <h2 class="text-xl font-semibold text-red-600">Selección de Boleta o Factura</h2>
    </div>
  </ng-template>

  <ng-template pTemplate="content">
    <div class="p-2">
        <!-- Grid -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
          <!-- Factura -->
          <div>
            <label class="block text-sm font-medium text-gray-700">
              Tipo de Comprobante
            </label>
            <p-select
              [options]="tipocomprobante"
              [(ngModel)]="facturaEnvio().tipoComprobante"
              optionLabel="label"
              optionValue="value"
              appendTo="body"
              placeholder="Selecciona tipo"
              class="w-full"
              (ngModelChange)="cambiocomprobante()"
            >
              <ng-template #selectedItem let-opt>
                <div class="flex items-center gap-2">
                  <i class="pi pi-receipt text-green-600"></i>
                  <span>{{ opt.label }}</span>
                </div>
              </ng-template>
              <ng-template let-opt pTemplate="item">
                <div class="flex items-center gap-2">
                  <i class="pi pi-receipt text-green-600"></i>
                  <span>{{ opt.label }}</span>
                </div>
              </ng-template>
            </p-select>
          </div>

          <!-- Cliente -->
          @if(facturaEnvio().tipoComprobante=='03'){
            <div pAnimateOnScroll
                 enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
                 leaveClass="animate-leave fade-out-0">
              <label
                for="nombre_completo"
                class="block text-sm font-medium text-gray-700"
              >Cliente</label
              >
              <div class="relative">
                <input
                  pInputText
                  name="nombre_completo"
                  [(ngModel)]="fila_select().nombre_completo"
                  placeholder="Nombre del cliente"
                  readonly
                  class="w-full bg-gray-100 text-gray-500 pr-10 cursor-not-allowed"
                />
                <i
                  class="pi pi-lock absolute right-3 top-1/2 -translate-y-1/2 text-gray-400"
                ></i>
              </div>
            </div>
          } @else {
            <div pAnimateOnScroll
                 enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
                 leaveClass="animate-leave fade-out-0">
              <label
                class="block text-sm font-medium text-gray-700"
              >Razón Social</label
              >
              <div class="relative">
                <input
                  pInputText
                  name="nombre_completo"
                  [(ngModel)]="facturaEnvio().razonSocialCliente"
                  placeholder="Nombre del cliente"
                  class="w-full"
                />
              </div>
            </div>

          }

          <!-- Método de Pago -->
          <div  >
            <label class="block text-sm font-medium">Tipo de Documento</label>
            <div class="relative">
              <!-- Ícono decorativo -->
              <i
                class="pi pi-credit-card absolute left-3 top-1/2 -translate-y-1/2 text-primary"
              ></i>

              <p-select
                [options]="tipodocumento"
                [(ngModel)]="facturaEnvio().tipoDocumentoCliente"
                name="id_metodo"
                optionLabel="label"
                optionValue="value"
                appendTo="body"
                placeholder="Selecciona tipo"
                class="w-full"
              >
                <ng-template #selectedItem let-opt>
                  <div class="flex items-center gap-2">
                    <i class="pi pi-paypal text-green-600"></i>
                    <span>{{ opt.label }}</span>
                  </div>
                </ng-template>
                <ng-template let-opt pTemplate="item">
                  <div class="flex items-center gap-2">
                    <i class="pi pi-paypal text-green-600"></i>
                    <span>{{ opt.label }}</span>
                  </div>
                </ng-template>
              </p-select>
            </div>
          </div>

          <!-- Nro de documento -->
          <div>
            <label
              for="numero_operacion"
              class="block text-sm font-medium text-gray-700"
            >Nro Documento <i class="pi pi-info-circle" style="color: red;font-size: 0.7rem"></i></label
            >
            <input
              pInputText
              name="numero_operacion"
              [(ngModel)]="facturaEnvio().numeroDocumentoCliente"
              class="w-full"
              [invalid]="formErrorsFactura.numeroDocumentoCliente()"
            />
          </div>

          <!-- Monto -->
          <div>
            <label
              for="monto_pagado"
              class="block text-sm font-medium text-gray-700"
            >Monto Pagado (S/.)</label
            >
            <input
              type="number"
              pInputText
              [(ngModel)]="fila_select().monto"
              placeholder="0.00"
              readonly
              class="w-full bg-gray-100 text-gray-500 pr-10 cursor-not-allowed"
            />
          </div>

          <!-- N° Operación -->
          <div>
            <label
              for="numero_operacion"
              class="block text-sm font-medium text-gray-700"
            >Dirección <i class="pi pi-info-circle" style="color: red;font-size: 0.7rem"></i></label
            >
            <input
              pInputText
              name="numero_operacion"
              [(ngModel)]="facturaEnvio().direccionCliente"
              placeholder="Ej. Jr. Ricardo Palma N° #"
              class="w-full"
              [invalid]="formErrorsFactura.direccionCliente()"
            />
          </div>
        </div>

        <!-- Botones -->
        <div class="flex justify-end gap-1 pt-2">
          <button
            type="button"
            (click)="cerrarModal()"
            pButton
            label="Cancelar"
            class="p-button-outlined p-button-secondary"
          ></button>
          <button
            (click)="generarDocumento(fila_select())"
            [disabled]="disabled()"
            pButton
            label="Guardar"
            class="p-button-success"
          ></button>
        </div>
    </div>
  </ng-template>
</p-dialog>}
